/*General styles*/




/*Game area styles*/

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


body {
    background-color: white;
    font-family: 'Delius', sans-serif;
    color:black
}


.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.heading {text-align: center;
    font-size: 20px;
}


.logo {width: 100px;
  height: 100px;
  border-radius: 10px;
}


.game-variables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 6px;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  flex-wrap:wrap;
  border: none;
  background: none;
  cursor: pointer;
}


.btn img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}


.btn span {
  margin-bottom: 5px; 
  font-size: 14px;
}

.game-zone {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-box {
    width: 200px;
    height: 125px;
    border-style: outset;
    border-color: black;
    border-radius: 20px;
}

#player-choice {
    background-color:rgb(220, 144, 113);
}


#computer-choice {
    background-color:rgb(96, 161, 163);
}

#result {
      margin-top: 30px;
      font-size: 1.2rem;
      font-weight: bold;
}

.score-zone {
  display: flex;                
  justify-content: center;      
  align-items: center;          
  gap: 40px;
}
 
.restart-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  background-color: rgb(185, 120, 178);
  border-style: outset;
  border-radius: 20px;
  border-color: black;
  color: black;
  font-weight: 200;
  width: 150px;
  height: 50px;
}

.rules {
    text-align: center;
}


ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none; 
  padding: 0;
}


li {
  text-align: center;
}

/*media queries*/