/*General styles*/




/*Game area styles*/

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


body {
    background-color: white;
    font-family: 'Delius', sans-serif;
    color:black;
    min-height: 100vh;
    flex-direction: column;
}


.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.75rem;
}


.heading {text-align: center;
    font-size: 20px;
}


.logo {width: 100px;
  height: 100px;
  border-radius: 10px;
}


.game-variables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 6px;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  flex-wrap:wrap;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Delius', sans-serif;
}


.btn img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}


.btn span {
  margin-bottom: 0; 
  font-size: 14px;
}

.game-zone {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 135px;
    border-style: outset;
    border-color: black;
    border-radius: 20px;
    background-color: white;

}

#result {
      margin-top: 10px;
      font-size: 1rem;
      text-align: center;
      font-weight:bold
}

.score-zone {
  display: flex;                
  justify-content: center;      
  align-items: center;          
  gap: 40px;
}
 
.restart-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  background-color: rgb(185, 120, 178);
  border-style: outset;
  border-radius: 20px;
  border-color: black;
  color: black;
  width: 150px;
  height: 50px;
  font-family: 'Delius', sans-serif;
  
}

.rules {
    text-align: center;
}


ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none; 
  padding: 0;
}


li {
  text-align: center;
}


@media (max-width:600px ) {
    .game-variables {
        flex-direction: column;
        gap:10px;
    }

.game-zone {
    flex-direction: column;
}

.score-zone {
    flex-direction: column;
}

}

@media (max-width:900px){
    .title {font-size:1.7rem
    
    }

    .score-zone {
        gap:25px
    }
}
