/*General styles*/


/*Game area styles*/

.game-variables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  flex-wrap:wrap;
  border: none;
  background: none;
  cursor: pointer;
}

.btn img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.btn span {
  margin-bottom: 5px; 
  font-size: 14px;
}

/*Footer styles*/